@import './fontawesome.css' layer(base);
@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-accent: red;
  --color-icon-primary: white;
  --color-icon-secondary: black;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-accent: aqua;
  --color-icon-primary: black;
  --color-icon-secondary: white;
}

#bg-icon{
  fill: var(--color-icon-primary);
}

#icon-stroke{
  stroke: var(--color-icon-secondary);
}

#icon-accent{
  fill: var(--color-accent);
}
