%header.navbar.shadow-sm.bg-base-200
  .flex-1
    = partial :icon
  %nav.flex.items-center
    %a.px-2.link.link-hover{ href: '/about' } About
    %a.px-2.link.link-hover{ href: 'mailto:justin@jes.contact' } Contact
    %a.px-2{ href: 'https://github.com/justins-engineering' }
      %i.fa-brands.fa-github
    .divider.divider-horizontal.mx-0.px-2
    %label.px-2.swap.swap-rotate
      %input.theme-controller{ type: 'checkbox', value: 'light' }
      %i.fa-regular.fa-sun.swap-off
      %i.fa-regular.fa-moon.swap-on
