---
title: JES
---

.hero.flex-1
  -# .hero-overlay {style: 'background-image: url(images/splash.jpg);'}
  .hero-content.text-center
    .max-w-md
      %h1.text-5xl.font-bold
        Remote
        %span.text-accent IoT
        for the masses
      %p.py-6
        Building affordable remote IoT solutions for everyone, from hobbyists to enterprise.
      %a.btn.btn-primary{ href: 'mailto:justin@jes.contact' } Contact us
      %button.btn.btn-secondary Projects
